<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276303003139-tmpve967j00t9mvmtqdgp3k3gj3vc7n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276303003139-tmpve967j00t9mvmtqdgp3k3gj3vc7n8</string>
	<key>API_KEY</key>
	<string>AIzaSyCFlhEU2E0Wm0Mn7vQEXtF3Pzi8UTIib2c</string>
	<key>GCM_SENDER_ID</key>
	<string>276303003139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.just-app.mobile</string>
	<key>PROJECT_ID</key>
	<string>zot-starter-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>zot-starter-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276303003139:ios:48aac385ab3652261cd836</string>
</dict>
</plist>